* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding:3% 12%;
    height: 100vh;
}

/* HEADER */
body > header > h1 {
    height: 30%;
    font-size: 15rem;
    width: 100%;
    text-align: center;
    font-family: "tt-modernoir", sans-serif;
    font-weight: 500;
    font-style: normal; 
}

body > header > h2 {
    font-size: 4rem;
    text-align: center;
    letter-spacing: 0rem;
    padding-bottom: 2rem;
    font-family: "futura-pt", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: transparent;
    -webkit-text-stroke: 1.5px black;

}

.AMprincipal {
    height: 90vh;
    width: auto;
    display: block;
    padding-bottom: 2rem;
}

.separador {
    height: auto;
    width: 50%;
    display: block;
    margin: auto;
    padding-bottom: 2rem;
    justify-content: center;
}

/* SECTION ENTRADAS */
#entradas {
    padding: 6rem 0;
    background-color: rgb(232, 232, 232);
}

